* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: rgb(226, 223, 50);
    text-decoration: none;
    transition: 0.3s;
     box-shadow: 0px 8px 8px 0px rgb(243, 232, 130);
     border-radius: 5px;
 
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 34px;
  }

 
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #808081;
    height: 8vh;
  }

  .nav-list{
    list-style: none;
    display: flex;
  
  }

  .nav-list li {
    letter-spacing: 3px;
    margin-left: 40px;
  }


  h1{
    text-align: center;
    margin: 60px; 
    background-color: #808081; 
    color: rgb(226, 223, 50);
    box-shadow: 0px 40px 40px 0px #808081;
    border-radius: 10px;
  }
  .caixa{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 20px;
    justify-content: space-between;
   
  }
  
  .caixa img{
 
    width: 320px;
    height: 320px;
    object-fit: cover;
    border: yellow solid 2px;
   border-radius: 10px;
   box-shadow: 0px 20px 20px 0px #808081;
   
  }
  footer{
   
     margin-top:auto; 
    color: rgb(226, 223, 50);
    background-color: #808081;
    text-align: center;
} 
